:root {
    --main-bg: #f8f8f8;
    --main-text: #252525;
    --header-bg: #3a57af;
    --nav-bg: #222;
    --nav-active: #ffc107;
    --card-bg: #fff;
    --footer-bg: #222;
    --footer-text: #fff;
}

body {
    font-family: 'Segoe UI', Arial, sans-serif;
    background: var(--main-bg);
    color: var(--main-text);
    margin: 0;
}

header {
    background: var(--header-bg);
    color: white;
    padding: 25px 0 15px 0;
    text-align: center;
    position: relative;
}

#toggle-theme {
    position: absolute;
    left: 25px;
    top: 25px;
    background: #ffc107;
    border: none;
    padding: 8px 15px;
    border-radius: 7px;
    cursor: pointer;
    font-weight: bold;
}

nav {
    background: var(--nav-bg);
    text-align: right;
    border-bottom: 2px solid #e4e4e4;
}

nav a {
    color: #eee;
    text-decoration: none;
    padding: 15px 18px;
    display: inline-block;
    transition: background 0.2s;
    font-size: 1.1em;
}

nav a.active, nav a:hover {
    background: var(--nav-active);
    color: #222;
}

main {
    max-width: 800px;
    margin: 35px auto 15px auto;
    background: var(--card-bg);
    border-radius: 13px;
    box-shadow: 0 3px 14px rgba(60,80,130,0.08);
    padding: 30px;
}

section {
    display: none;
}

section.show {
    display: block;
    animation: fadeIn 0.7s;
}

.card {
    background: #f0f4ff;
    padding: 18px 16px;
    border-radius: 9px;
    margin-bottom: 16px;
    box-shadow: 0 2px 8px rgba(83, 123, 251, .09);
}

footer {
    background: var(--footer-bg);
    color: var(--footer-text);
    text-align: center;
    padding: 12px;
    font-size: 1em;
    margin-top: 40px;
    border-radius: 7px 7px 0 0;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

/* وضع داكن */
body.dark {
    --main-bg: #181a1b;
    --main-text: #dedede;
    --header-bg: #101f35;
    --nav-bg: #050505;
    --nav-active: #ffd457;
    --card-bg: #252a38;
    --footer-bg: #050505;
    --footer-text: #f8f8f8;
}

body.dark nav a {
    color: #fc0;
}

body.dark nav a.active, body.dark nav a:hover {
    background: var(--nav-active);
    color: #050505;
}

#download-fifa {
    background: #3a57af;
    color: white;
    border: none;
    padding: 12px 28px;
    font-size: 1.09em;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 9px;
    transition: background 0.18s;
}

#download-fifa:hover {
    background: #3267d7;
}